
.degree{
    width: 60px;
    height: auto;
}
.feelslike{
    font-size: 80%;
}
#main{
margin: auto;
    box-sizing: border-box;
    justify-content: center;
    align-items: flex-start;
    display: flex;
}
.cards{
    margin: 2px;
    float: left;
    overflow: hidden;
    width: 80px;
    border: 3px solid #4e555b;
    padding: 10px;
    border-radius: 14px;
    transition: 100s;
    height: 100%;
}

.date{

    margin: 0 0 20px 5%;
    font-size: 20px;

}
h1,h2,h3,p{
    font-family: 'Dosis', sans-serif;
}
.cardTitle{
    margin: 0 5%;
}
.wind{
    margin: 0;
    float: left;
    clear: left;
    padding: 0 13px;
}
.windDiv{
    background-color: #e3e5e8;
    border-radius: 10px;
    width: 150px;
    height: 50px;

}
.windTitle{
    float: left;
    width: 80px ;
    color: #e3e5e8;
    margin: 0;
    padding: 0 10px;
    background-color: #4e555b;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}
.windarrow{

    width: 30px;
    height: auto;
    margin: 0;
    position: relative;
    top: 9px;
    right: -5px;

}
.humidity{
    margin: 10px auto;
    width: 150px;
    height: 20px;
    background-color: #e3e5e8;
    border-radius: 10px;

}
.humidityTitle{
    text-align: center;
    float: left;
    margin: 0 auto;
    width: 80px;
    padding: 0 10px;
    color: #e3e5e8;
    background-color: #4e555b;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.humidityPercent{
    margin: 0;
    width: 50px;
    float: right;
    text-align: center;
}
.rainChance{
    margin: 10px auto;
    width: 150px;
    height: 20px;
    background-color: #e3e5e8;
    border-radius: 10px;

}
.rainChanceTitle{
    text-align: center;
    float: left;
    margin: 0 auto;
    width: 100px;
    padding: 0;
    color: #e3e5e8;
    background-color: #4e555b;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.rainChancePercent{
    margin: 0;
    width: 50px;
    float: right;
    text-align: center;
}
.summaryimg{
    display: block;
    margin-left: 16%;
    margin-right: auto;
    width: 60%;
}
.tempDiv{
    margin: 10px auto;
    width: 150px;
    height: 20px;
    background-color: #e3e5e8;
    border-radius: 10px;

}
.tempTitle{
    text-align: center;
    float: left;
    margin: 0 auto;
    width: 100px;
    padding: 0;
    color: #e3e5e8;
    background-color: #4e555b;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}
.tempTitleHigh{
    text-align: center;
    float: left;
    margin: 0 auto;
    width: 100px;
    padding: 0;
    color: #e3e5e8;
    background-color: #4e555b;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.tempValue  {
    margin: 0;
    width: 50px;
    float: right;
    text-align: center;
}
.summaryDiv{
    background-color: #e3e5e8;
    border-radius: 10px;
    width: 150px;


}
.daySummaryTitle{
    float: left;
    width: 50px ;
    color: #e3e5e8;
    margin: 0 5px 0 0;
    padding: 0 10px;
    background-color: #4e555b;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}
.daySummaryData{
    margin: 0;
    clear: left;
    padding: 0 13px;
}