* {
    box-sizing: border-box;
    @media all and (min-width: 601px){

    }
}
    .row {
        width: 100%;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .container {
        margin: 0 auto;
        width: 80%;
        max-width: 1200px;
    }
    .column {
        float: left;
    }
    .column.one-half {
        width: 50%;
    }
    .column.one-third {
        width: 33.33%;
    }
    .column.one-forth {
        width: 25%;
    }
    .column.one-sixth {
        width: 16.66%;
    }
    .column.one-eighth {
        width: 12.5%;
    }
    .column.one-twelfth {
        width: 8.33%;
}
    @media all and (max-width:600px){
    .column.one-third{
        width: 100%;
    }
    }