@media screen and (max-width: 600px) {

    .alert-info {
        text-align: center;
        line-height: 3em;
        background: #3B94D9;
        border: 2px solid gray;

        height: 3em;
        border-radius: 10px;
    }

    .alert-info a {
        text-decoration: none;
        color: white;

    }

    .img_mobile {

        height: 2em;
        height: auto;

    }

    .img_desk {
        display: none;
    }

    h1 {

        text-align: center;
    }
    .nav-links {
        list-style-type: none;
        padding: 0em;
        text-align: center;
    }
    .nav-links li {
        border: 2px solid gray;
        background-color: #3B94D9;
        padding: 1em;

        border-radius: 10px;
    }
    .nav-links a {
        color: #FFFFFF;
        text-decoration: none;
        font-weight: bold;
    }

    .main {

    }
    .sub-section{

    }
}

    @media screen and (min-width: 600px) {
        }
        .hidden-on-desktop {
            display: none;
        }

        .nav-links {
            display: inline;
            float: right;
            list-style: none;
            line-height: 3em;
        }

        .img_mobile {
            display: none
        }

        .nav-links a {
            padding: 1em;
            display: inline;
            text-decoration: none;

        }

        .nav-links li {
          display: inline;

        }

        h1 {

            height: 2em;
        }

        .header-img {
            clear: both;

        }

        .img_desk {
            height: auto;
        }

        .main {
            padding: 1em;
        }

        .sub-section {
            padding: 1em;
        }

        footer {
            clear: both;
        }

