body {
    margin: 0px;
    font-family: Cario;

}

    /*NavBAR and SideBAR*/
    .navbar {
        padding: 5px;
        background-color: mediumslateblue;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        position: static;

    }
        .search {
            background-image: url("../img/spyglass.png");
            background-position: left 10px top 50%;
            background-repeat: no-repeat;
            border-radius: 9px;
            border: none;
            width: 20px;
            padding: 8px 8px 8px 8px;
            transition: width 0.4s ease-in-out;

        }
        .search[type=text]:focus {
            width: 20%;
            padding: 8px 8px 8px 30px;
            outline: none;
        }