body {
    font-family: "Helvetica";
}

    header {
        text-align: center;
        background-color: white;
        border-color: darkred;
        ;
        border-style: solid;
        border-width: 10px;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
    }

    header img{
        position: absolute;
        left: 10%;
        top: 4%;
    }